@import './variables.scss';
@import './mixins.scss';
@import './keyframes.scss';

// presets

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font: 16px sans-serif;
}

button{
    border-radius: 10px;
}




// login page

//nav 

.nav{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryGreen;
    color: white;
}

//login section

#login-create{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm{
    width: 80vw;
    max-width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: $primaryGreen;

    & h1{
        color: white;
    }
    
    & input{
        width: 100%;
        height: 2.5rem;
        margin: 1rem 0rem;
        color: white;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px white;

        &::placeholder{
            color: white;
            font: 16px sans-serif;
        }
    }

    & a{
        margin: 1rem 0rem;
    }
}

#rooms{
    width: 100%;
    height: 2.5rem;
    font: 16px sans-serif;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

#sign-in-btn{
    width: 100%;
    height: 2.5rem;
    max-width: 10rem;
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font: bold 16px sans-serif;
}



// Chat Page

#chatroom-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

//nav
#burger-menu{
    display: none;
}

// room and users section

#chatroom-info-container{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primaryGreen;
    position: relative;
    

    & a{
        text-decoration: none;
    }
    
}

#chatroom-info-container-inner{
    width: 70%;
    height: 70vh;
    padding: 2rem;
    background-color: $secondaryGreen;
    border-radius: 20px;

    
}

#chat-container{
    width: 70vw;
    height: 100vh;
    position: relative;
}

#room-name-container{
    margin: 1rem;
}

#room-icon{
    width: 1.5rem;
}


#users-wrapper{
    width: 100%;
    height: 80%;
    padding: 1rem;
    background-color: $secondaryGreen;
}

#userline{
    border: 1px solid $primaryGreen;
}


#user-list{
    width: 100%;
    height: 90%;
    padding: 1rem;
    list-style: none;
    overflow-y: scroll;
    
    &::-webkit-scrollbar{
        width: 10px;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track{
        background-color: $secondaryGreen;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $primaryGreen;
        border-radius: 10px;
    }
}


.user{
    display: flex;
    align-items: center;
    font: bold 20px sans-serif;
    margin: 1rem 0rem;


    img{
        width: 2.5rem;
        margin-right: 1rem;
    }

}


#report-bugs{
    width: 10rem;
    height: 2.5rem;
    margin: 2rem 0rem;
    background-color: $primaryGreen;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#report-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
}

#leave-btn{
    width: 10rem;
    height: 2.5rem;
    background-color: $primaryGreen;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}

#burger-menu-close{
    display: none;
}

// messaging section

#chat-area{
    width: 100%;
    height: 65vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    overflow-y: scroll;
}

.message-outer{
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightcoral;
}

.message-inner{
    width: 90%;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    

}

.message{
    width: 100%;
    padding: 1rem;
    background-color: $secondaryGreen;
    border-radius: 20px;
}

.time-sent{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    
}



#messaging-area{
    width: 100%;
    height: calc(35vh - 3rem);
    background-color:$primaryGreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    & button{
        width: 10rem;
        height: 2.5rem;
        min-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0rem;
        background-color: $primaryGreen;
        border: 1px solid white;
        color: white;
        font-weight: bold;
    }
}

#messageBox{
    width: 90%;
    padding: 1rem 1rem 5rem 1rem;
    border-radius: 20px;

    &:focus{
        outline: none;
    }
}

#send-icon{
    width: 1rem;
    margin-right: 0.5rem;
}


//Modal

#modal-bg{
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#modal{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

#report-form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input{
        width: 50%;
        height: 2.5rem;
        margin-bottom: 1rem;
    }

    & textarea{
        width: 50%;
        height: 5rem;
    }

    & button{
        width: 10rem;
        height: 2.5rem;
        margin-top: 1rem;
        font: 20px sans-serif;
        background-color: $primaryGreen;
    }
}




// ---------- Chat Page Media Queries

@media screen and(max-width:1440px){
    #room-name-container, #room-name, #users-wrapper h1{
        font-size: 25px
    }

    #chatroom-info-container-inner{
        width: 90%;
    }

    .user{
        font-size: 16px;
        margin: 0.5rem 0rem;

        & img{
            width: 2rem;
        }

    }

}


@media screen and(max-width:1024px){

    #room-name-container, #room-name, #users-wrapper h1{
        font-size: 20px
    }
    #chatroom-info-container-inner{
        padding: 1rem;
    }

    .user{
        font-size: 14px;
        
        & img{
            width: 1.5rem;
        }
    }
}

@media screen and (max-width:768px){
    #chatroom-info-container{
        width: 75%;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        transition: all ease 1s;
    }

    #chat-container{
        width: 100vw;
    }

    #chatroom-info-container-inner{
        width: 75%;
    }

    #burger-menu{
        display: block;
        position: absolute;
        left: 1rem;
    }

    #burger-menu-close{
        display: block;
        position: absolute;
        right: 0.5rem;
        top: 1rem;
    }
}






